<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="despliegueinfraestructuradispersion">
      <h2 data-cy="despliegueinfraestructuradispersionDetailsHeading">
        <span jhiTranslate="sistemasAdmApp.despliegueinfraestructuradispersion.detail.title">Despliegueinfraestructuradispersion</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ despliegueinfraestructuradispersion.id }}</span>
        </dd>
        <dt><span jhiTranslate="sistemasAdmApp.despliegueinfraestructuradispersion.nombreCliente">Nombre Cliente</span></dt>
        <dd>
          <span>{{ despliegueinfraestructuradispersion.nombreCliente }}</span>
        </dd>
        <dt><span jhiTranslate="sistemasAdmApp.despliegueinfraestructuradispersion.direccion">Direccion</span></dt>
        <dd>
          <span>{{ despliegueinfraestructuradispersion.direccion }}</span>
        </dd>
        <dt><span jhiTranslate="sistemasAdmApp.despliegueinfraestructuradispersion.fechaInstalacion">Fecha Instalacion</span></dt>
        <dd>
          <span>{{ despliegueinfraestructuradispersion.fechaInstalacion | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="sistemasAdmApp.despliegueinfraestructuradispersion.origen">Origen</span></dt>
        <dd>
          <span jhiTranslate="{{ 'sistemasAdmApp.Origen.' + despliegueinfraestructuradispersion.origen }}">{{
            despliegueinfraestructuradispersion.origen
          }}</span>
        </dd>
        <dt><span jhiTranslate="sistemasAdmApp.despliegueinfraestructuradispersion.destino">Destino</span></dt>
        <dd>
          <span>{{ despliegueinfraestructuradispersion.destino }}</span>
        </dd>
        <dt>
          <span jhiTranslate="sistemasAdmApp.despliegueinfraestructuradispersion.descripcionDePozosUsadosRuta"
            >Descripcion De Pozos Usados Ruta</span
          >
        </dt>
        <dd>
          <span>{{ despliegueinfraestructuradispersion.descripcionDePozosUsadosRuta }}</span>
        </dd>
        <dt><span jhiTranslate="sistemasAdmApp.despliegueinfraestructuradispersion.metrajeInicial">Metraje Inicial</span></dt>
        <dd>
          <span>{{ despliegueinfraestructuradispersion.metrajeInicial }}</span>
        </dd>
        <dt><span jhiTranslate="sistemasAdmApp.despliegueinfraestructuradispersion.metrajeFinal">Metraje Final</span></dt>
        <dd>
          <span>{{ despliegueinfraestructuradispersion.metrajeFinal }}</span>
        </dd>

        <dt><span jhiTranslate="sistemasAdmApp.despliegueinfraestructuradispersion.valorMetro">Valor Metro</span></dt>
        <dd>
          <span>{{ despliegueinfraestructuradispersion.valorMetro }}</span>
        </dd>
        <dt><span jhiTranslate="sistemasAdmApp.despliegueinfraestructuradispersion.calculoValorPagoD">Calculo Valor Pago D</span></dt>
        <dd>
          <span>{{ despliegueinfraestructuradispersion.calculoValorPagoD }}</span>
        </dd>
        <dt><span jhiTranslate="sistemasAdmApp.despliegueinfraestructuradispersion.nombreRuta">Nombre Ruta</span></dt>
        <dd>
          <div *ngIf="despliegueinfraestructuradispersion.nombreRuta">
            <a
              [routerLink]="['/despliegue-infraestructura-troncal-distribucion', despliegueinfraestructuradispersion.nombreRuta.id, 'view']"
              >{{ despliegueinfraestructuradispersion.nombreRuta.nombreRuta }}</a
            >
          </div>
        </dd>
        <dt><span jhiTranslate="sistemasAdmApp.despliegueinfraestructuradispersion.razonSocial">Razon Social</span></dt>
        <dd>
          <div *ngIf="despliegueinfraestructuradispersion.razonSocial">
            <a [routerLink]="['/proveedor', despliegueinfraestructuradispersion.razonSocial.id, 'view']">{{
              despliegueinfraestructuradispersion.razonSocial.razonSocial
            }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="sistemasAdmApp.despliegueinfraestructuradispersion.numeropozo">Numeropozo</span></dt>
        <dd>
          <span *ngFor="let numeropozo of despliegueinfraestructuradispersion.numeropozos; let last = last">
            <a [routerLink]="['/pozo', numeropozo.id, 'view']">{{ numeropozo.numeropozo }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>

        <dt><span jhiTranslate="sistemasAdmApp.despliegueinfraestructuradispersion.createdAt">Created At</span></dt>
        <dd>
          <span>{{ despliegueinfraestructuradispersion.createdAt | formatMediumDatetime }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Volver</span>
      </button>

      <button
        type="button"
        [routerLink]="['/despliegueinfraestructuradispersion', despliegueinfraestructuradispersion.id, 'edit']"
        class="btn btn-primary"
      >
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
      </button>
    </div>
  </div>
</div>
