<div>
  <h2 id="page-heading" data-cy="RegistroInspeccionesHeading">
    <span jhiTranslate="sistemasAdmApp.registroInspecciones.home.title">Registro Inspecciones</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="sistemasAdmApp.registroInspecciones.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-registro-inspecciones"
        [routerLink]="['/registro-inspecciones/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="sistemasAdmApp.registroInspecciones.home.createLabel"> Crear nuevo Registro Inspecciones </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="registroInspecciones?.length === 0">
    <span jhiTranslate="sistemasAdmApp.registroInspecciones.home.notFound">Ningún Registro Inspecciones encontrado</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="registroInspecciones && registroInspecciones.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>

          <th scope="col" jhiSortBy="idPozo.id">
            <div class="d-flex">
              <span jhiTranslate="sistemasAdmApp.registroInspecciones.idPozo">Pozo Inspeccionado</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="provedorinspeciones.id">
            <div class="d-flex">
              <span jhiTranslate="sistemasAdmApp.registroInspecciones.provedorinspeciones">Provedor Inspeccionado</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>

          <th scope="col" jhiSortBy="cumpleAutorizacion">
            <div class="d-flex">
              <span jhiTranslate="sistemasAdmApp.registroInspecciones.cumpleAutorizacion">Cumple Autorizacion</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="numeroAutorizacion">
            <div class="d-flex">
              <span jhiTranslate="sistemasAdmApp.registroInspecciones.numeroAutorizacion">Numero Autorizacion</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="cumpleSenaletica">
            <div class="d-flex">
              <span jhiTranslate="sistemasAdmApp.registroInspecciones.cumpleSenaletica">Cumple Senaletica</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="cumpleConosSeguridad">
            <div class="d-flex">
              <span jhiTranslate="sistemasAdmApp.registroInspecciones.cumpleConosSeguridad">Cumple Conos Seguridad</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="cumpleEtiquetado">
            <div class="d-flex">
              <span jhiTranslate="sistemasAdmApp.registroInspecciones.cumpleEtiquetado">Cumple Etiquetado</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="cumpleArregloCables">
            <div class="d-flex">
              <span jhiTranslate="sistemasAdmApp.registroInspecciones.cumpleArregloCables">Cumple Arreglo Cables</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="cumplelimpiezaOrdenPozo">
            <div class="d-flex">
              <span jhiTranslate="sistemasAdmApp.registroInspecciones.cumplelimpiezaOrdenPozo">Cumplelimpieza Orden Pozo</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="createdAt">
            <div class="d-flex">
              <span jhiTranslate="sistemasAdmApp.registroInspecciones.createdAt">Created At</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>

          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let registroInspecciones of registroInspecciones; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/registro-inspecciones', registroInspecciones.id, 'view']">{{ registroInspecciones.id }}</a>
          </td>

          <td>
            <div *ngIf="registroInspecciones.idPozo">
              <a [routerLink]="['/pozo', registroInspecciones.idPozo.id, 'view']">{{ registroInspecciones.idPozo.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="registroInspecciones.provedorinspeciones">
              <a [routerLink]="['/proveedor', registroInspecciones.provedorinspeciones.id, 'view']">{{
                registroInspecciones.provedorinspeciones.id
              }}</a>
            </div>
          </td>

          <td>{{ registroInspecciones.cumpleAutorizacion }}</td>
          <td>{{ registroInspecciones.numeroAutorizacion }}</td>
          <td>{{ registroInspecciones.cumpleSenaletica }}</td>
          <td>{{ registroInspecciones.cumpleConosSeguridad }}</td>
          <td>{{ registroInspecciones.cumpleEtiquetado }}</td>
          <td>{{ registroInspecciones.cumpleArregloCables }}</td>
          <td>{{ registroInspecciones.cumplelimpiezaOrdenPozo }}</td>
          <td>{{ registroInspecciones.createdAt | formatMediumDatetime }}</td>

          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/registro-inspecciones', registroInspecciones.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/registro-inspecciones', registroInspecciones.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
              </button>

              <button type="submit" (click)="delete(registroInspecciones)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="registroInspecciones && registroInspecciones.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
