<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="infraestructura">
      <h2 data-cy="infraestructuraDetailsHeading">
        <span jhiTranslate="sistemasAdmApp.infraestructura.detail.title">Infraestructura</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ infraestructura.id }}</span>
        </dd>
        <dt><span jhiTranslate="sistemasAdmApp.infraestructura.tipo">Tipo</span></dt>
        <dd>
          <span jhiTranslate="{{ 'sistemasAdmApp.Tipo.' + infraestructura.tipo }}">{{ infraestructura.tipo }}</span>
        </dd>
        <dt><span jhiTranslate="sistemasAdmApp.infraestructura.createdAt">Created At</span></dt>
        <dd>
          <span>{{ infraestructura.createdAt | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="sistemasAdmApp.infraestructura.idProveedor">Id Proveedor</span></dt>
        <dd>
          <div *ngIf="infraestructura.idProveedor">
            <a [routerLink]="['/proveedor', infraestructura.idProveedor.id, 'view']">{{ infraestructura.idProveedor.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="sistemasAdmApp.infraestructura.pozo">Pozo</span></dt>
        <dd>
          <span *ngFor="let pozo of infraestructura.pozos; let last = last">
            <a [routerLink]="['/pozo', pozo.id, 'view']">{{ pozo.id }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Volver</span>
      </button>

      <button type="button" [routerLink]="['/infraestructura', infraestructura.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
      </button>
    </div>
  </div>
</div>
