<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="pago">
      <h2 data-cy="pagoDetailsHeading"><span jhiTranslate="sistemasAdmApp.pago.detail.title">Pago</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ pago.id }}</span>
        </dd>
        <dt><span jhiTranslate="sistemasAdmApp.pago.fechaPago">Fecha Pago</span></dt>
        <dd>
          <span>{{ pago.fechaPago | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="sistemasAdmApp.pago.pago">Pago</span></dt>
        <dd>
          <span>{{ pago.pago }}</span>
        </dd>

        <dt><span jhiTranslate="sistemasAdmApp.pago.razonSocial">Razon Social</span></dt>
        <dd>
          <div *ngIf="pago.razonSocial">
            <a [routerLink]="['/proveedor', pago.razonSocial.id, 'view']">{{ pago.razonSocial.razonSocial }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="sistemasAdmApp.pago.calculoValorPago">Calculo Valor Pago</span></dt>
        <dd>
          <div *ngIf="pago.calculoValorPago">
            <a [routerLink]="['/despliegue-infraestructura-troncal-distribucion', pago.calculoValorPago.id, 'view']">{{
              pago.calculoValorPago.calculoValorPago
            }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="sistemasAdmApp.pago.calculoValorPagoD">Calculo Valor Pago D</span></dt>
        <dd>
          <div *ngIf="pago.calculoValorPagoD">
            <a [routerLink]="['/despliegueinfraestructuradispersion', pago.calculoValorPagoD.id, 'view']">{{
              pago.calculoValorPagoD.calculoValorPagoD
            }}</a>
          </div>
        </dd>

        <dt><span jhiTranslate="sistemasAdmApp.pago.createdAt">Created At</span></dt>
        <dd>
          <span>{{ pago.createdAt | formatMediumDatetime }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Volver</span>
      </button>

      <button type="button" [routerLink]="['/pago', pago.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
      </button>
    </div>
  </div>
</div>
