<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="pozo">
      <h2 data-cy="pozoDetailsHeading"><span jhiTranslate="sistemasAdmApp.pozo.detail.title">Pozo</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ pozo.id }}</span>
        </dd>
        <dt><span jhiTranslate="sistemasAdmApp.pozo.numeropozo">Numeropozo</span></dt>
        <dd>
          <span>{{ pozo.numeropozo }}</span>
        </dd>
        <dt><span jhiTranslate="sistemasAdmApp.pozo.direccion">Direccion</span></dt>
        <dd>
          <span>{{ pozo.direccion }}</span>
        </dd>
        <dt><span jhiTranslate="sistemasAdmApp.pozo.ubicacion">Ubicacion</span></dt>
        <dd>
          <span jhiTranslate="{{ 'sistemasAdmApp.Ubicacion.' + pozo.ubicacion }}">{{ pozo.ubicacion }}</span>
        </dd>
        <dt><span jhiTranslate="sistemasAdmApp.pozo.tipopozo">Tipopozo</span></dt>
        <dd>
          <span jhiTranslate="{{ 'sistemasAdmApp.TipoPozo.' + pozo.tipopozo }}">{{ pozo.tipopozo }}</span>
        </dd>
        <dt><span jhiTranslate="sistemasAdmApp.pozo.createdAt">Created At</span></dt>
        <dd>
          <span>{{ pozo.createdAt | formatMediumDatetime }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Volver</span>
      </button>

      <button type="button" [routerLink]="['/pozo', pozo.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
      </button>
    </div>
  </div>
</div>
