<div>
  <h2 id="page-heading" data-cy="DespliegueinfraestructuradispersionHeading">
    <span jhiTranslate="sistemasAdmApp.despliegueinfraestructuradispersion.home.title">Despliegueinfraestructuradispersions</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="sistemasAdmApp.despliegueinfraestructuradispersion.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-despliegueinfraestructuradispersion"
        [routerLink]="['/despliegueinfraestructuradispersion/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="sistemasAdmApp.despliegueinfraestructuradispersion.home.createLabel">
          Crear nuevo Despliegueinfraestructuradispersion
        </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="despliegueinfraestructuradispersions?.length === 0">
    <span jhiTranslate="sistemasAdmApp.despliegueinfraestructuradispersion.home.notFound"
      >Ningún Despliegueinfraestructuradispersions encontrado</span
    >
  </div>

  <div
    class="table-responsive table-entities"
    id="entities"
    *ngIf="despliegueinfraestructuradispersions && despliegueinfraestructuradispersions.length > 0"
  >
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nombreCliente">
            <div class="d-flex">
              <span jhiTranslate="sistemasAdmApp.despliegueinfraestructuradispersion.nombreCliente">Nombre Cliente</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="direccion">
            <div class="d-flex">
              <span jhiTranslate="sistemasAdmApp.despliegueinfraestructuradispersion.direccion">Direccion</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="fechaInstalacion">
            <div class="d-flex">
              <span jhiTranslate="sistemasAdmApp.despliegueinfraestructuradispersion.fechaInstalacion">Fecha Instalacion</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="origen">
            <div class="d-flex">
              <span jhiTranslate="sistemasAdmApp.despliegueinfraestructuradispersion.origen">Origen</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="destino">
            <div class="d-flex">
              <span jhiTranslate="sistemasAdmApp.despliegueinfraestructuradispersion.destino">Destino</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="descripcionDePozosUsadosRuta">
            <div class="d-flex">
              <span jhiTranslate="sistemasAdmApp.despliegueinfraestructuradispersion.descripcionDePozosUsadosRuta"
                >Descripcion De Pozos Usados Ruta</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="metrajeInicial">
            <div class="d-flex">
              <span jhiTranslate="sistemasAdmApp.despliegueinfraestructuradispersion.metrajeInicial">Metraje Inicial</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="metrajeFinal">
            <div class="d-flex">
              <span jhiTranslate="sistemasAdmApp.despliegueinfraestructuradispersion.metrajeFinal">Metraje Final</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="calculoValorPago">
            <div class="d-flex">
              <span jhiTranslate="sistemasAdmApp.despliegueinfraestructuradispersion.calculoValorPago">Calculo Valor Pago</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="createdAt">
            <div class="d-flex">
              <span jhiTranslate="sistemasAdmApp.despliegueinfraestructuradispersion.createdAt">Created At</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="valorMetro">
            <div class="d-flex">
              <span jhiTranslate="sistemasAdmApp.despliegueinfraestructuradispersion.valorMetro">Valor Metro</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="idDespliegueInfraestructuraTroncalDistribucion.id">
            <div class="d-flex">
              <span jhiTranslate="sistemasAdmApp.despliegueinfraestructuradispersion.idDespliegueInfraestructuraTroncalDistribucion"
                >Id Despliegue Infraestructura Troncal Distribucion</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="idProveedor.id">
            <div class="d-flex">
              <span jhiTranslate="sistemasAdmApp.despliegueinfraestructuradispersion.idProveedor">Id Proveedor</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let despliegueinfraestructuradispersion of despliegueinfraestructuradispersions; trackBy: trackId"
          data-cy="entityTable"
        >
          <td>
            <a [routerLink]="['/despliegueinfraestructuradispersion', despliegueinfraestructuradispersion.id, 'view']">{{
              despliegueinfraestructuradispersion.id
            }}</a>
          </td>
          <td>{{ despliegueinfraestructuradispersion.nombreCliente }}</td>
          <td>{{ despliegueinfraestructuradispersion.direccion }}</td>
          <td>{{ despliegueinfraestructuradispersion.fechaInstalacion | formatMediumDate }}</td>
          <td jhiTranslate="{{ 'sistemasAdmApp.Origen.' + despliegueinfraestructuradispersion.origen }}">
            {{ despliegueinfraestructuradispersion.origen }}
          </td>
          <td>{{ despliegueinfraestructuradispersion.destino }}</td>
          <td>{{ despliegueinfraestructuradispersion.descripcionDePozosUsadosRuta }}</td>
          <td>{{ despliegueinfraestructuradispersion.metrajeInicial }}</td>
          <td>{{ despliegueinfraestructuradispersion.metrajeFinal }}</td>
          <td>{{ despliegueinfraestructuradispersion.calculoValorPago }}</td>
          <td>{{ despliegueinfraestructuradispersion.createdAt | formatMediumDatetime }}</td>
          <td>{{ despliegueinfraestructuradispersion.valorMetro }}</td>
          <td>
            <div *ngIf="despliegueinfraestructuradispersion.idDespliegueInfraestructuraTroncalDistribucion">
              <a
                [routerLink]="[
                  '/despliegue-infraestructura-troncal-distribucion',
                  despliegueinfraestructuradispersion.idDespliegueInfraestructuraTroncalDistribucion.id,
                  'view'
                ]"
                >{{ despliegueinfraestructuradispersion.idDespliegueInfraestructuraTroncalDistribucion.id }}</a
              >
            </div>
          </td>
          <td>
            <div *ngIf="despliegueinfraestructuradispersion.idProveedor">
              <a [routerLink]="['/proveedor', despliegueinfraestructuradispersion.idProveedor.id, 'view']">{{
                despliegueinfraestructuradispersion.idProveedor.id
              }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/despliegueinfraestructuradispersion', despliegueinfraestructuradispersion.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/despliegueinfraestructuradispersion', despliegueinfraestructuradispersion.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
              </button>

              <button
                type="submit"
                (click)="delete(despliegueinfraestructuradispersion)"
                class="btn btn-danger btn-sm"
                data-cy="entityDeleteButton"
              >
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="despliegueinfraestructuradispersions && despliegueinfraestructuradispersions.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
