<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-infraestructura-heading"
        data-cy="InfraestructuraCreateUpdateHeading"
        jhiTranslate="sistemasAdmApp.infraestructura.home.createOrEditLabel"
      >
        Crear o editar Infraestructura
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sistemasAdmApp.infraestructura.tipo" for="field_tipo">Tipo</label>
          <select class="form-control" name="tipo" formControlName="tipo" id="field_tipo" data-cy="tipo">
            <option [ngValue]="null">{{ 'sistemasAdmApp.Tipo.null' | translate }}</option>
            <option *ngFor="let tipo of tipoValues" [value]="tipo">{{ 'sistemasAdmApp.Tipo.' + tipo | translate }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sistemasAdmApp.infraestructura.razonSocial" for="field_razonSocial">Razon Social</label>
          <select
            class="form-control"
            id="field_razonSocial"
            data-cy="razonSocial"
            name="razonSocial"
            formControlName="razonSocial"
            [compareWith]="compareProveedor"
          >
            <option *ngIf="!editForm.get('razonSocial')!.value" [ngValue]="null" selected></option>
            <option [ngValue]="proveedorOption" *ngFor="let proveedorOption of proveedorsSharedCollection">
              {{ proveedorOption.razonSocial }}
            </option>
          </select>
        </div>
        <div
          *ngIf="editForm.get(['razonSocial'])!.invalid && (editForm.get(['razonSocial'])!.dirty || editForm.get(['razonSocial'])!.touched)"
        >
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['razonSocial'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            Este campo es obligatorio.
          </small>
        </div>

        <div class="row mb-3">
          <label jhiTranslate="sistemasAdmApp.infraestructura.numeropozo" for="field_numeropozos">Numeropozo</label>
          <select
            class="form-control"
            id="field_numeropozos"
            data-cy="numeropozo"
            multiple
            name="numeropozos"
            formControlName="numeropozos"
            [compareWith]="comparePozo"
          >
            <option [ngValue]="pozoOption" *ngFor="let pozoOption of pozosSharedCollection">{{ pozoOption.numeropozo }}</option>
          </select>
        </div>
        <div
          *ngIf="editForm.get(['numeropozos'])!.invalid && (editForm.get(['numeropozos'])!.dirty || editForm.get(['numeropozos'])!.touched)"
        >
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['numeropozos'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            Este campo es obligatorio.
          </small>
        </div>
      </div>

      <div class="row mb-3">
        <label class="form-label" jhiTranslate="sistemasAdmApp.infraestructura.createdAt" for="field_createdAt">Created At</label>
        <div class="d-flex">
          <input
            id="field_createdAt"
            data-cy="createdAt"
            type="datetime-local"
            class="form-control"
            name="createdAt"
            formControlName="createdAt"
            placeholder="YYYY-MM-DD HH:mm"
          />
        </div>
        <div *ngIf="editForm.get('createdAt')!.invalid && (editForm.get('createdAt')!.dirty || editForm.get('createdAt')!.touched)">
          <small
            class="form-text text-danger"
            *ngIf="editForm.get('createdAt')?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            Este campo es obligatorio.
          </small>
          <small
            class="form-text text-danger"
            [hidden]="!editForm.get('createdAt')?.errors?.datetimelocal"
            jhiTranslate="entity.validation.datetimelocal"
          >
            Este campo debe ser una fecha y hora.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
