<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-despliegueinfraestructuradispersion-heading"
        data-cy="DespliegueinfraestructuradispersionCreateUpdateHeading"
        jhiTranslate="sistemasAdmApp.despliegueinfraestructuradispersion.home.createOrEditLabel"
      >
        Crear o editar Despliegueinfraestructuradispersion
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="sistemasAdmApp.despliegueinfraestructuradispersion.nombreCliente"
            for="field_nombreCliente"
            >Nombre Cliente</label
          >
          <input
            type="text"
            class="form-control"
            name="nombreCliente"
            id="field_nombreCliente"
            data-cy="nombreCliente"
            formControlName="nombreCliente"
          />
          <div
            *ngIf="
              editForm.get('nombreCliente')!.invalid && (editForm.get('nombreCliente')!.dirty || editForm.get('nombreCliente')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('nombreCliente')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Este campo es obligatorio.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sistemasAdmApp.despliegueinfraestructuradispersion.direccion" for="field_direccion"
            >Direccion</label
          >
          <input type="text" class="form-control" name="direccion" id="field_direccion" data-cy="direccion" formControlName="direccion" />
          <div *ngIf="editForm.get('direccion')!.invalid && (editForm.get('direccion')!.dirty || editForm.get('direccion')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('direccion')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Este campo es obligatorio.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="sistemasAdmApp.despliegueinfraestructuradispersion.fechaInstalacion"
            for="field_fechaInstalacion"
            >Fecha Instalacion</label
          >
          <div class="input-group">
            <input
              id="field_fechaInstalacion"
              data-cy="fechaInstalacion"
              type="text"
              class="form-control"
              name="fechaInstalacion"
              ngbDatepicker
              #fechaInstalacionDp="ngbDatepicker"
              formControlName="fechaInstalacion"
            />
            <button type="button" class="btn btn-secondary" (click)="fechaInstalacionDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
          <div
            *ngIf="
              editForm.get('fechaInstalacion')!.invalid &&
              (editForm.get('fechaInstalacion')!.dirty || editForm.get('fechaInstalacion')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('fechaInstalacion')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Este campo es obligatorio.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sistemasAdmApp.despliegueinfraestructuradispersion.origen" for="field_origen"
            >Origen</label
          >
          <select class="form-control" name="origen" formControlName="origen" id="field_origen" data-cy="origen">
            <option [ngValue]="null">{{ 'sistemasAdmApp.Origen.null' | translate }}</option>
            <option *ngFor="let origen of origenValues" [value]="origen">{{ 'sistemasAdmApp.Origen.' + origen | translate }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sistemasAdmApp.despliegueinfraestructuradispersion.destino" for="field_destino"
            >Destino</label
          >
          <input type="text" class="form-control" name="destino" id="field_destino" data-cy="destino" formControlName="destino" />
          <div *ngIf="editForm.get('destino')!.invalid && (editForm.get('destino')!.dirty || editForm.get('destino')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('destino')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Este campo es obligatorio.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="sistemasAdmApp.despliegueinfraestructuradispersion.descripcionDePozosUsadosRuta"
            for="field_descripcionDePozosUsadosRuta"
            >Descripcion De Pozos Usados Ruta</label
          >
          <input
            type="text"
            class="form-control"
            name="descripcionDePozosUsadosRuta"
            id="field_descripcionDePozosUsadosRuta"
            data-cy="descripcionDePozosUsadosRuta"
            formControlName="descripcionDePozosUsadosRuta"
          />
          <div
            *ngIf="
              editForm.get('descripcionDePozosUsadosRuta')!.invalid &&
              (editForm.get('descripcionDePozosUsadosRuta')!.dirty || editForm.get('descripcionDePozosUsadosRuta')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('descripcionDePozosUsadosRuta')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Este campo es obligatorio.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="sistemasAdmApp.despliegueinfraestructuradispersion.metrajeInicial"
            for="field_metrajeInicial"
            >Metraje Inicial</label
          >
          <input
            type="number"
            class="form-control"
            name="metrajeInicial"
            id="field_metrajeInicial"
            data-cy="metrajeInicial"
            formControlName="metrajeInicial"
          />
          <div
            *ngIf="
              editForm.get('metrajeInicial')!.invalid && (editForm.get('metrajeInicial')!.dirty || editForm.get('metrajeInicial')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('metrajeInicial')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Este campo es obligatorio.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('metrajeInicial')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              Este campo debe ser un número.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sistemasAdmApp.despliegueinfraestructuradispersion.metrajeFinal" for="field_metrajeFinal"
            >Metraje Final</label
          >
          <input
            type="number"
            class="form-control"
            name="metrajeFinal"
            id="field_metrajeFinal"
            data-cy="metrajeFinal"
            formControlName="metrajeFinal"
          />
          <div
            *ngIf="editForm.get('metrajeFinal')!.invalid && (editForm.get('metrajeFinal')!.dirty || editForm.get('metrajeFinal')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('metrajeFinal')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Este campo es obligatorio.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('metrajeFinal')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              Este campo debe ser un número.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sistemasAdmApp.despliegueinfraestructuradispersion.valorMetro" for="field_valorMetro"
            >Valor Metro</label
          >
          <select
            type="number"
            class="form-control"
            name="valorMetro"
            id="field_valorMetro"
            data-cy="valorMetro"
            formControlName="valorMetro"
            (change)="calcvalor($event)"
          >
            <option value="0.05">$0,05</option>
            <option value="0.10">$0,10</option>
            <option value="0.15">$0,15</option>
            <option value="0.20">$0,20</option>
          </select>
          <div *ngIf="editForm.get('valorMetro')!.invalid && (editForm.get('valorMetro')!.dirty || editForm.get('valorMetro')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('valorMetro')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Este campo es obligatorio.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('valorMetro')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              Este campo debe ser un número.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="sistemasAdmApp.despliegueinfraestructuradispersion.calculoValorPagoD"
            for="field_calculoValorPago"
            >Calculo Valor Pago</label
          >
          <input
            type="number"
            class="form-control"
            name="calculoValorPagoD"
            id="field_calculoValorPago"
            data-cy="calculoValorPagoD"
            formControlName="calculoValorPagoD"
            readonly
          />
          <div
            *ngIf="
              editForm.get('calculoValorPagoD')!.invalid &&
              (editForm.get('calculoValorPagoD')!.dirty || editForm.get('calculoValorPagoD')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('calculoValorPagoD')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Este campo es obligatorio.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('calculoValorPagoD')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              Este campo debe ser un número.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sistemasAdmApp.despliegueinfraestructuradispersion.nombreRuta" for="field_nombreRuta"
            >Nombre Ruta</label
          >
          <select
            class="form-control"
            id="field_nombreRuta"
            data-cy="nombreRuta"
            name="nombreRuta"
            formControlName="nombreRuta"
            [compareWith]="compareDespliegueInfraestructuraTroncalDistribucion"
          >
            <option *ngIf="!editForm.get('nombreRuta')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="despliegueInfraestructuraTroncalDistribucionOption"
              *ngFor="
                let despliegueInfraestructuraTroncalDistribucionOption of despliegueInfraestructuraTroncalDistribucionsSharedCollection
              "
            >
              {{ despliegueInfraestructuraTroncalDistribucionOption.nombreRuta }}
            </option>
          </select>
        </div>

        <div
          *ngIf="editForm.get(['nombreRuta'])!.invalid && (editForm.get(['nombreRuta'])!.dirty || editForm.get(['nombreRuta'])!.touched)"
        >
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['nombreRuta'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            Este campo es obligatorio.
          </small>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sistemasAdmApp.despliegueinfraestructuradispersion.razonSocial" for="field_razonSocial"
            >Razon Social</label
          >
          <select
            class="form-control"
            id="field_razonSocial"
            data-cy="razonSocial"
            name="razonSocial"
            formControlName="razonSocial"
            [compareWith]="compareProveedor"
          >
            <option *ngIf="!editForm.get('razonSocial')!.value" [ngValue]="null" selected></option>
            <option [ngValue]="proveedorOption" *ngFor="let proveedorOption of proveedorsSharedCollection">
              {{ proveedorOption.razonSocial }}
            </option>
          </select>
        </div>

        <div
          *ngIf="editForm.get(['razonSocial'])!.invalid && (editForm.get(['razonSocial'])!.dirty || editForm.get(['razonSocial'])!.touched)"
        >
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['razonSocial'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            Este campo es obligatorio.
          </small>
        </div>

        <div class="row mb-3">
          <label jhiTranslate="sistemasAdmApp.despliegueinfraestructuradispersion.numeropozo" for="field_numeropozos">Numeropozo</label>
          <select
            class="form-control"
            id="field_numeropozos"
            data-cy="numeropozo"
            multiple
            name="numeropozos"
            formControlName="numeropozos"
            [compareWith]="comparePozo"
          >
            <option [ngValue]="pozoOption" *ngFor="let pozoOption of pozosSharedCollection">{{ pozoOption.numeropozo }}</option>
          </select>
        </div>
        <div
          *ngIf="editForm.get(['numeropozos'])!.invalid && (editForm.get(['numeropozos'])!.dirty || editForm.get(['numeropozos'])!.touched)"
        >
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['numeropozos'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            Este campo es obligatorio.
          </small>
        </div>
      </div>

      <div class="row mb-3">
        <label class="form-label" jhiTranslate="sistemasAdmApp.despliegueinfraestructuradispersion.createdAt" for="field_createdAt"
          >Created At</label
        >
        <div class="d-flex">
          <input
            id="field_createdAt"
            data-cy="createdAt"
            type="datetime-local"
            class="form-control"
            name="createdAt"
            formControlName="createdAt"
            placeholder="YYYY-MM-DD HH:mm"
          />
        </div>
        <div *ngIf="editForm.get('createdAt')!.invalid && (editForm.get('createdAt')!.dirty || editForm.get('createdAt')!.touched)">
          <small
            class="form-text text-danger"
            *ngIf="editForm.get('createdAt')?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            Este campo es obligatorio.
          </small>
          <small
            class="form-text text-danger"
            [hidden]="!editForm.get('createdAt')?.errors?.datetimelocal"
            jhiTranslate="entity.validation.datetimelocal"
          >
            Este campo debe ser una fecha y hora.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
