<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-pago-heading" data-cy="PagoCreateUpdateHeading" jhiTranslate="sistemasAdmApp.pago.home.createOrEditLabel">
        Crear o editar Pago
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sistemasAdmApp.pago.fechaPago" for="field_fechaPago">Fecha Pago</label>
          <div class="input-group">
            <input
              id="field_fechaPago"
              data-cy="fechaPago"
              type="text"
              class="form-control"
              name="fechaPago"
              ngbDatepicker
              #fechaPagoDp="ngbDatepicker"
              formControlName="fechaPago"
            />
            <button type="button" class="btn btn-secondary" (click)="fechaPagoDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
          <div *ngIf="editForm.get('fechaPago')!.invalid && (editForm.get('fechaPago')!.dirty || editForm.get('fechaPago')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('fechaPago')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Este campo es obligatorio.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sistemasAdmApp.pago.pago" for="field_pago">Pago</label>
          <input type="number" class="form-control" name="pago" id="field_pago" data-cy="pago" formControlName="pago" />
          <div *ngIf="editForm.get('pago')!.invalid && (editForm.get('pago')!.dirty || editForm.get('pago')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('pago')?.errors?.required" jhiTranslate="entity.validation.required">
              Este campo es obligatorio.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('pago')?.errors?.number" jhiTranslate="entity.validation.number">
              Este campo debe ser un número.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sistemasAdmApp.pago.razonSocial" for="field_razonSocial">Razon Social</label>
          <select
            class="form-control"
            id="field_razonSocial"
            data-cy="razonSocial"
            name="razonSocial"
            formControlName="razonSocial"
            [compareWith]="compareProveedor"
          >
            <option *ngIf="!editForm.get('razonSocial')!.value" [ngValue]="null" selected></option>
            <option [ngValue]="proveedorOption" *ngFor="let proveedorOption of proveedorsSharedCollection">
              {{ proveedorOption.razonSocial }}
            </option>
          </select>
        </div>
        <div
          *ngIf="editForm.get(['razonSocial'])!.invalid && (editForm.get(['razonSocial'])!.dirty || editForm.get(['razonSocial'])!.touched)"
        >
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['razonSocial'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            Este campo es obligatorio.
          </small>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sistemasAdmApp.pago.calculoValorPago" for="field_calculoValorPago"
            >Calculo Valor Pago</label
          >
          <select
            class="form-control"
            id="field_calculoValorPago"
            data-cy="calculoValorPago"
            name="calculoValorPago"
            formControlName="calculoValorPago"
            [compareWith]="compareDespliegueInfraestructuraTroncalDistribucion"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="despliegueInfraestructuraTroncalDistribucionOption"
              *ngFor="
                let despliegueInfraestructuraTroncalDistribucionOption of despliegueInfraestructuraTroncalDistribucionsSharedCollection
              "
            >
              {{ despliegueInfraestructuraTroncalDistribucionOption.calculoValorPago }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sistemasAdmApp.pago.calculoValorPagoD" for="field_calculoValorPagoD"
            >Calculo Valor Pago D</label
          >
          <select
            class="form-control"
            id="field_calculoValorPagoD"
            data-cy="calculoValorPagoD"
            name="calculoValorPagoD"
            formControlName="calculoValorPagoD"
            [compareWith]="compareDespliegueinfraestructuradispersion"
          >
            <option *ngIf="!editForm.get('calculoValorPagoD')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="despliegueinfraestructuradispersionOption"
              *ngFor="let despliegueinfraestructuradispersionOption of despliegueinfraestructuradispersionsSharedCollection"
            >
              {{ despliegueinfraestructuradispersionOption.calculoValorPagoD }}
            </option>
          </select>
        </div>
        <div
          *ngIf="
            editForm.get(['calculoValorPagoD'])!.invalid &&
            (editForm.get(['calculoValorPagoD'])!.dirty || editForm.get(['calculoValorPagoD'])!.touched)
          "
        >
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['calculoValorPagoD'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            Este campo es obligatorio.
          </small>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sistemasAdmApp.pago.createdAt" for="field_createdAt">Created At</label>
          <div class="d-flex">
            <input
              id="field_createdAt"
              data-cy="createdAt"
              type="datetime-local"
              class="form-control"
              name="createdAt"
              formControlName="createdAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div *ngIf="editForm.get('createdAt')!.invalid && (editForm.get('createdAt')!.dirty || editForm.get('createdAt')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('createdAt')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Este campo es obligatorio.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('createdAt')?.errors?.datetimelocal"
              jhiTranslate="entity.validation.datetimelocal"
            >
              Este campo debe ser una fecha y hora.
            </small>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
